[Unit]
Description=Notify Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/syslog_w
Restart=always
RestartSec=5
EnvironmentFile=/etc/syslogw/.env
WorkingDirectory=/var/lib/syslogw

[Install]
WantedBy=multi-user.target